body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

footer {
    background-color: #8B4BA9;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 100%;
  }

/* styling for h1 and h2 */
h1, h2 {
    color: #8B4BA9;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px 0 10px;
}

h3 {
  font-size: 20px;
  color: #8B4BA9;
  margin: 0 10px 0 10px;

}

/* shopping cart header */
.shopCartHead {
    color: #8B4BA9;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px 0 10px;
    margin-top: auto;
}

/* Items in shopping cart */
.my-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* boxes of the item itself */
.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

/* */
.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

/* order summary box */
.order-summary {
    border: 2px solid black;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*  */
.order-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.top-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}

.left-group, .right-group {
  display: flex;
  align-items: center;
}

.item {
  text-align: left;
  margin: 10px 0 10px 0;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* changes img proportions */
.item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

/* Total styling */
h2 p {
    color: blue;
}

.menu-button span, .login a {
  cursor: pointer;
}

.menu-button span {
  font-size: 20px;
}

/* the List An Item, Login button */
.container a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
}
.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  background: none;
}
.search-bar button.search-icon {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}


@media (max-width: 650px) {
  nav {
      flex-direction: column;
  }
  .right-group {
      width: 100%;
      justify-content: center;
  }
  .search-bar {
      width: 100%;
      margin-top: 10px;
  }
}
