nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px 20px;
}
h1 {
  color: purple;
  margin: 0 20px;
}
.menu-button span, .login a {
  font-size: 20px;
  cursor: pointer;
}
.search-bar {
  display: flex;
}
.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}
.search-bar button {
  padding: 5px 10px;
}